.card{
    height: 35vh;
    width: 18vw;
    background-color: rgb(235, 235, 235);
    color: rgb(14, 14, 14);
    border-radius: 0.5rem;
    margin: 0% 2%;
    margin: 2%

}

.card figure{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card figure span{
    background: var(--white);
    color: var(--black);
    font-size: 1.2rem;
}


.card figure img{
    max-height: 100%;
    max-width: 100%;
    object-fit:cover;
}

.card p{
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.card p .plus{
    cursor: pointer;
}